$app-bar-bg-color: #4F4D5F !important; /* #4F4D5F */ /* #e2e4eb*/
$app-bar-newsletter-color: #5d4037 !important;

#app-bar{ z-index: 1; }
.app-bar-bg-color{background: $app-bar-bg-color;}
.v-application ul, .v-application ol{ padding-left: 0 !important; }
.top-newsletter{ color: #343f44; }
.row-cover-box{ 
    img{ width: 100%; } 
}
.m-icon-group{ 
    a:link{ text-decoration: none; padding: 15px;}
    a:hover{ color: #FFF;}
}
.theme--light.v-btn{ color: $app-bar-bg-color; }
.theme--light.v-btn:hover{ color: #FFF !important; background: $app-bar-bg-color;}
.sign-newletter-header{
    margin-bottom: 3px !important;
    a{ text-decoration: none; font-weight: 400; font-size: 0.85rem; color: #e57373 !important; }
    a:hover{ 
        color: $app-bar-newsletter-color; 
        .v-icon{ color: $app-bar-newsletter-color; }
    }
    .v-alert__border--bottom{
        border-bottom-left-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
    }
}
.sign-newletter-header.v-alert--dense{padding-bottom: 5px !important;}
.v-alert--dense{padding-top: 5px !important;}
.text-container{ font-size: 0.95rem; }

h3.home-head-title a:link, .home-head-title a:visited{ font-size: 1.3rem; text-decoration: none; color: #000 !important;}
h3.home-head-title a:hover{ font-size: 1.3rem; text-decoration: underline; color: #1976d2 !important; }

/* SEARCH */
.ui-widget {
    display: inline-block;
    height: 47px;
}
input.showSearch {
    height: 35px;
    padding: 8px;
    margin-top: 3px;
    background-color: $app-bar-bg-color;
    color: #fff;
    transition: all 400ms ease-in;
    -webkit-transition: all 100ms ease-in;
    border-radius: 6px;
}
input.hideSearch {
    width: 0;
    height: 40px;
    padding: 0px;
    background-color: $app-bar-bg-color;
    color: #fff;
    transition: all 100ms ease-in;
    -webkit-transition: all 100ms ease-in;
}
button.showSearch {display: block !important;}
button.hideSearch { display: none !important; }
.search-btn {
    margin-top: 10px;
    padding-left: 10px;
    cursor: poiter;
}
input.showSearch:focus,
input.hideSearch:focus {
    outline: none !important;
    border: 1px solid #fff;
    box-shadow: 0 0 10px $app-bar-bg-color;
}
::placeholder {
    /* Firefox, Chrome, Opera */
    color: #fff;
}
:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #fff;
}
::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #fff;
}
/* END SEARCH */

@media only screen and (max-width: 800px) {
    // .v-toolbar__content{ height: 50px !important; }
    #app-bar{ height: 55px !important; }
    #bkbeyond-logo{width:100px; padding-top:10px;}
    .expanded input {border: 0;width: 140px;}
    input.showSearch { width: 140px;}
}
@media only screen and (min-width: 801px) {
    #bkbeyond-logo{width:130px; padding-top:15px;}
    .expanded input { border: 0; width: 180px;}
    input.showSearch { width: 180px;}
}
